body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.msg {
  padding-top:10%;
  padding-left: 35%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
  width: fit-content;
  column-gap: 65px;
}
.grid-item {
  background-color: white;
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 11px;
  font-size: 17px;
}

.print-button {
  padding-left: 40%;
 
}
